<body>
    <section>
        <div class="container">
            <div class="user signinBx">
                <div class="imgBx"><img src="../../../assets/secure-login.gif" alt="" /></div>
                <div class="formBx">
                    <form [formGroup]="loginForm" (ngSubmit)="onLogSubmit()">
                        <h2>Sign In</h2>
                        <input type="text" name="" placeholder="email" formControlName="email" />
                        <input type="password" name="" placeholder="Password" formControlName="password" />
                        <input type="submit" name="" />

                        <p class="signup">
                            Don't have an account ?
                            <span class="regBtn" (click)="toggleForm()">Sign Up.</span>
                        </p>
                    </form>
                </div>
            </div>
            <div class="user signupBx">
                <div class="formBx">
                    <form [formGroup]="regiForm" (ngSubmit)="onRegSubmit()">
                        <h2>Create an account</h2>
                        <input type="text" name="" placeholder="Username" formControlName="username" />
                        <input type="number" name="" placeholder="Phone" formControlName="phone" />
                        <input type="email" name="" placeholder="Email Address" formControlName="email" />
                        <input type="password" name="" placeholder="Create Password" formControlName="password" />
                        <input type="password" name="" placeholder="Confirm Password" formControlName="confpassword" />
                        <input type="submit" name="" value="Sign Up" />
                        <p class="signup">
                            Already have an account ?
                            <span class="regBtn" (click)="toggleForm()">Sign In.</span>
                        </p>
                    </form>
                </div>
                <div class="imgBx"><img src="../../../assets/secure-register.gif" alt="" /></div>
            </div>
        </div>
    </section>
</body>